* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'arad';
    src: url('./assets/fonts/arad.woff2') format('woff2');
    font-weight: 100 900;
    font-display: swap;
}

:root {
    --red-color: #f93423;
    --text-color: #303030;
    --white_color: #fff;
    --font-family: 'arad';
    --green-color: #1BD2A3;
    --border-color: #ddd;
    --black-color: #000;
}

body {
    direction: rtl;
    font-size: 14px;
    text-align: right;
    color: var(--text-color);
    font-family: var(--font-family);
    font-weight: 400;
}

a {
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    color: var(--text-color);
}

img {
    max-width: 100%;
    height: auto;
}

li {
    list-style: none;
}

.container {
    width: 1440px;
    margin: auto;
}

.header {
    background-color: var(--white_color);
    box-shadow: 0px 4px 10px 0px #0000000d;
    margin-bottom: 20px;
}

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 0;
    color: #7e7e7e;
    font-size: 13px;
    font-weight: 350;
}

.top-header .t-h-left .contact-header {
    color: var(--red-color);
    padding-right: 20px;
    font-weight: 450;
}

.top-header .t-h-left .contact-header i {
    font-size: 18px;
    padding-right: 6px;
}

.main-header {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.main-header .m-h-right {
    display: flex;
    width: 57%;
    align-items: center;
}

.main-header .m-h-right .logo {
    max-width: 130px;
}

.main-header .m-h-right .logo a {
    display: flex;
}

.main-header .m-h-right .logo a img {
    max-width: 100%;
}

.main-header .m-h-right .search-main {
    width: 100%;
    margin-right: 71px;
}

.main-header .m-h-right .search-main form {
    position: relative;
    border: none;
}

.main-header .m-h-right .search-main form input[type="search"] {
    background-color: #f3f4f6;
    border-radius: 7px;
    font-family: var(--font-family);
    font-size: 13px;
    padding: 15px 50px 15px 15px;
    width: 100%;
    border: none;
}

.main-header .m-h-right .search-main form button {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 20px;
    background-color: transparent;
    color: #a0a0a0;
    border: none;
    cursor: pointer;
}

.main-header .m-h-left {
    display: flex;
    align-items: center;
    gap: 20px;

}

.main-header .m-h-left .cart-btn-header a {
    background-color: var(--green-color);
    color: var(--white_color);
    text-decoration: none;
    padding: 14px;
    border-radius: 7px;
    display: flex;
}

.main-header .m-h-left .cart-btn-header a .cart-btn-text {
    font-weight: 450;
    border-left: 1px solid var(--white_color);
    padding-left: 15px;
    margin-left: 15px;
}

.m-h-left .favorite-btn-header a {
    color: var(--text-color);
    text-decoration: none;
    padding: 13px;
    border-radius: 7px;
    display: flex;
    border: 1PX solid #7e7e7e;
}

.m-h-left .favorite-btn-header a i {
    font-size: 20px;
    margin-left: 8px;
}

.down-header {
    display: flex;
    justify-content: space-between;
    padding: 14px 0;
    margin-top: 8px;
}

.main-menu {
    display: flex;
}

.main-menu .megamenu-box {
    border-left: 1px dotted #333;
    padding-left: 20px;
    margin-left: 9px;
}

.megamenu-box .t-m {
    color: #161A1D;
    font-weight: 450;
}

.main-menu .menu-header>ul>li {
    display: inline-block;
    margin: 0 11px;
    position: relative;
}

.main-menu .menu-header ul li a {
    text-decoration: none;
    color: #7e7e7e;
    font-weight: 350;
    padding: 14px 0;
}

.main-menu .menu-header>ul>li>a:hover {
    border-bottom: 1px solid var(--red-color);
}

.main-menu .menu-header ul li ul {
    position: absolute;
    top: 25px;
    right: 0;
    background-color: var(--white_color);
    border: 1px solid var(--border-color);
    padding: 7px 0;
    width: 200px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    z-index: 99;
}

.main-menu .menu-header>ul>li:hover>ul {
    visibility: visible;
    opacity: 1;
    top: 37px;
}

.main-menu .menu-header ul li ul li a {
    padding: 7px 14px;
    display: block;
    font-size: 13px;

}

.main-menu .menu-header ul li ul li a:hover {
    color: var(--red-color);
    font-weight: 450;
}

.register-btn {
    color: #161A1DE7;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.register-btn i {
    font-size: 20px;
}

.hm-mega-menu {
    position: relative;
}

.hm-mega-menu>ul::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 24px;
    top: -20px;
}

.hm-mega-menu>ul {
    position: absolute;
    background-color: var(--white_color);
    border: 1px solid var(--border-color);
    top: 25px;
    right: 0;
    width: 222px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    z-index: 99;
}

.main-menu .megamenu-box:hover>.hm-mega-menu>ul {
    visibility: visible;
    opacity: 1;
    top: 16px;
}

.hm-mega-menu>ul>li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hm-mega-menu>ul>li:hover {
    background-color: #f7f7f8;
}

.hm-mega-menu>ul>li:hover>a,
.hm-mega-menu>ul>li:hover>i {
    color: var(--red-color)
}

.hm-mega-menu>ul>li>a {
    padding: 12px;
    font-weight: 500;
}

.hm-mega-menu>ul>li>i {
    margin-left: 12px;
    font-size: 9px;
}

.hm-mega-menu>ul>li:hover>ul {
    visibility: visible;
    opacity: 1;
}

.hm-mega-menu>ul>li>ul {
    position: absolute;
    background-color: var(--white_color);
    border: 1px solid var(--border-color);
    top: 0;
    right: 100%;
    width: 1215px;
    height: 100%;
    display: flex;
    padding: 12px;
    border-right: 2px solid var(--border-color);
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.hm-mega-menu>ul>li>ul>li {
    width: 25%;
}

.hm-mega-menu>ul>li>ul>li>a {
    font-weight: 550;
    color: var(--black-color);
    border-right: 3px solid var(--red-color);
    padding-right: 5px;
    margin-bottom: 7px;
    display: inline-block;
}

.hm-mega-menu>ul>li>ul>li>ul li a {
    color: #666;
    font-size: 12px;
    font-weight: 400;
    padding: 4px 0;
    display: block;
}

.hm-mega-menu>ul>li>ul>li>ul li a:hover {
    color: var(--red-color);
    font-weight: 450;
}

/* slider style */
.main-slider {
    margin-bottom: 50px;
}

.main-slider .owl-stage-outer {
    border-radius: 15px;
}

.main-slider .owl-theme .owl-dots {
    position: absolute;
    bottom: 0;

}

.main-slider .owl-theme .owl-dots {
    width: 100%;
}

.main-slider .owl-theme .owl-dots button.owl-dot span {
    background-color: var(--black-color);
    opacity: 0.3;
    width: 7px;
    height: 7px;
    margin: 2px 3px;
}

.main-slider .owl-theme .owl-dots button.active span {
    background-color: var(--white_color);
    opacity: 1;
    width: 18px;
}

.main-slider .owl-carousel .owl-nav button {
    position: absolute;
    bottom: 35px;
    right: 80px;
    background-color: var(--white_color);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.main-slider:hover .owl-carousel .owl-nav button {
    opacity: 1;
}

.main-slider .owl-carousel .owl-nav button:hover {
    background-color: var(--white_color);
    color: var(--black-color);
}

.main-slider .owl-carousel .owl-nav button.owl-prev {
    right: 35px;
}

.main-slider .owl-carousel .owl-nav button.owl-next {
    right: 80px;
}

.title-pro h4 {
    font-size: 18px;
    font-weight: 450;
    border-bottom: 1px solid var(--red-color);
    margin-bottom: 32px;
    display: inline-block;
    padding-bottom: 14px;
}

.hero-prodct {
    margin-bottom: 50px;
}

.hero-prodct .product-item {
    background-color: var(--white_color);
    border-radius: 15px;
    box-shadow: 0px 0px 10px 5px #00000008;
    margin: 13px 8px;
    padding: 10px 15px 15px;
}

.hero-prodct .product-item .color-dis {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    align-items: center;
}

.hero-prodct .product-item .color-dis .color ul li {
    float: right;
}

.hero-prodct .product-item .color-dis .color ul li span {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    float: right;
    border-radius: 50%;
    margin-left: 5px;
    position: relative;
}

.hero-prodct .product-item .color-dis .color ul li span:hover>b {
    visibility: visible;
    opacity: 1;
    bottom: 17px;
}

.hero-prodct .product-item .color-dis .color ul li span b {
    background-color: var(--text-color);
    color: var(--white_color);
    font-size: 13px;
    font-weight: 100;
    border-radius: 4px;
    padding: 2px 4px;
    position: absolute;
    bottom: 10px;
    right: -10px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.hero-prodct .product-item .color-dis .discount {
    background-color: var(--red-color);
    color: var(--white_color);
    padding: 0 3px;
    border-radius: 5px;
}

.hero-prodct .product-item figure a {
    height: 200px;
    object-fit: cover;
    max-width: 200px;
    display: block;
    margin: 7px auto 0;
}

.hero-prodct .product-item h2 {
    margin-top: 15px;
    height: 50px;
    line-height: 22px;
    overflow: hidden;
}

.hero-prodct .product-item h2 a {
    font-size: 14px;
    font-weight: 450;
    color: var(--text-color);
}

.hero-prodct .product-item .down {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: 15px;
}

.hero-prodct .product-item .down .addtocart_button a {
    color: var(--green-color);
    font-size: 34px;
    display: flex;
}

.hero-prodct .product-item .down .price {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 10px;
    align-items: flex-end;
}

.hero-prodct .product-item .down .price del {
    color: #7e7e7e;
}

.hero-prodct .product-item .down .price ins {
    font-size: 18px;
    color: #313131;
    font-weight: 720;
    text-decoration: none;

}

.hero-prodct .product-item .down .price ins span {
    font-size: 12px;
    color: #4d4d4d;
    font-weight: 500;
    display: block;
    position: absolute;
    rotate: 270deg;
    top: 14px;
    left: -25px;
}

.hero-prodct .amazing-slider {
    background-color: var(--red-color);
    border-radius: 15px;
    box-shadow: 17px 17px 40px 0px #e5383b12;
}

.hero-prodct .amazing-slider .amazing-thumbnail img {
    max-width: 228px;
    margin: 15px auto;
}

.amazing-slider .amazing-btn {
    text-align: center;
}

.amazing-slider .amazing-btn a {
    background-color: var(--white_color);
    border-radius: 24px;
    padding: 13px 29px;
    display: inline-flex;
    align-items: center;
}

.amazing-slider .amazing-btn a i {
    font-size: 13px;
    margin-right: 3px;
}

.amazing-product .countdown-timer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.amazing-product .countdown-timer .number {
    background-color: var(--red-color);
    color: var(--white_color);
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.amazing-product .countdown-timer span.dot {
    color: var(--red-color);
    font-size: 24px;
    margin: 0 2px;
}

.poster {
    display: flex;
    justify-content: space-between;
    gap: 21px;
    margin-bottom: 50px;
}

.poster img {
    border-radius: 15px;
}

.hero-special {
    margin-bottom: 50px;
}

.special-box .owl-stage-outer {
    background-color: var(--white_color);
    border: 1px solid #eaeaea;
    box-shadow: 0px 5px 10px 5px #00000008;
    border-radius: 10px;
    width: 71%;
}

.special-box .special-item {
    display: flex;
    padding: 25px;
    width: 1025px;
    position: relative;
}

.special-box .special-item figure {
    width: 23.5%;
}

.special-box .special-item figure a img {
    max-width: 247px;
}

.special-box .special-item .color {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.special-box .special-item .color ul li {
    float: right;
}

.special-box .special-item .color ul li span {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    float: right;
    border-radius: 50%;
    margin-left: 5px;
    position: relative;
}

.special-box .special-item .color ul li span:hover>b {
    visibility: visible;
    opacity: 1;
    bottom: 17px;
}

.special-box .special-item .color ul li span b {
    background-color: var(--text-color);
    color: var(--white_color);
    font-size: 13px;
    font-weight: 100;
    border-radius: 4px;
    padding: 2px 4px;
    position: absolute;
    bottom: 10px;
    right: -10px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.special-box .special-item .det-special h2 {
    font-weight: 650;
    font-size: 22px;
    margin-bottom: 19px;
}

.special-box .special-item .det-special {
    width: 73.5%;
}

.special-box .special-item .det-special .addition-product {
    display: flex;
    flex-direction: column;
    max-height: 144px;
    flex-wrap: wrap;
    overflow: hidden;
    font-size: 13px;
    font-weight: 450;
    gap: 7px 0;
    margin: 0 10px 30px 0;
}

.special-box .special-item .det-special .addition-product .property-iten {
    display: flex;
    gap: 5px;
}

.special-box .special-item .det-special .addition-product .property-iten span {
    font-weight: 500;
}

.special-box .special-item .det-special .addition-product .property-iten i {
    color: var(--red-color);
    font-size: 10px;
    margin-left: 3px;
}

.special-box .special-item .det-special .down {
    display: flex;
    align-items: center;
    gap: 15px;
}

.special-box .special-item .det-special .down a {
    background-color: var(--green-color);
    color: var(--white_color);
    padding: 12px;
    border-radius: 7px;
}

.special-box .special-item .det-special .down .price {
    display: flex;
    gap: 10px;

}

.special-box .special-item .det-special .down .price del {
    color: #7e7e7e;
    font-size: 16px;
    font-weight: 500;
}

.special-box .special-item .det-special .down .price ins {
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
}

.special-box .special-item .det-special .down .price ins span {
    font-size: 14px;
}

.special-box .special-item .discount {
    position: absolute;
    background-color: #fdc830;
    left: 15px;
    top: 0;
    width: 65px;
    height: 72px;
    border-radius: 0 0 12px 12px;
    text-align: center;
    padding-top: 10px;
}

.special-box .special-item .discount b {
    display: block;
    font-size: 18px;
    font-weight: 700;
}

.special-box .special-item .det-special .down .countdown-timer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.special-box .special-item .det-special .down .number {
    background-color: var(--red-color);
    color: var(--white_color);
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.special-box .special-item .det-special .down .countdown-timer span.dot {
    color: var(--red-color);
    font-size: 24px;
    margin: 0 2px;
}