* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'arad';
    src: url('./assets/fonts/arad.woff2') format('woff2');
    font-weight: 100 900;
    font-display: swap;
}

:root {
    --red-color: #f93423;
    --text-color: #303030;
    --white_color: #fff;
    --font-family: 'arad';
    --green-color: #1BD2A3;
    --border-color: #ddd;
    --black-color: #000;
}

body {
    direction: rtl;
    font-size: 14px;
    text-align: right;
    color: var(--text-color);
    font-family: var(--font-family);
    font-weight: 400;
}

a {
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    color: var(--text-color);
}

li {
    list-style: none;
}

.container {
    width: 1440px;
    margin: auto;
}

.header {
    background-color: var(--white_color);
    box-shadow: 0px 4px 10px 0px #0000000d;
    margin-bottom: 20px;
}

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 0;
    color: #7e7e7e;
    font-size: 13px;
    font-weight: 350;
}

.top-header .t-h-left .contact-header {
    color: var(--red-color);
    padding-right: 20px;
    font-weight: 450;
}

.top-header .t-h-left .contact-header i {
    font-size: 18px;
    padding-right: 6px;
}

.main-header {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.main-header .m-h-right {
    display: flex;
    width: 57%;
    align-items: center;
}

.main-header .m-h-right .logo {
    max-width: 130px;
}

.main-header .m-h-right .logo a {
    display: flex;
}

.main-header .m-h-right .logo a img {
    max-width: 100%;
}

.main-header .m-h-right .search-main {
    width: 100%;
    margin-right: 71px;
}

.main-header .m-h-right .search-main form {
    position: relative;
    border: none;
}

.main-header .m-h-right .search-main form input[type="search"] {
    background-color: #f3f4f6;
    border-radius: 7px;
    font-family: var(--font-family);
    font-size: 13px;
    padding: 15px 50px 15px 15px;
    width: 100%;
    border: none;
}

.main-header .m-h-right .search-main form button {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 20px;
    background-color: transparent;
    color: #a0a0a0;
    border: none;
    cursor: pointer;
}

.main-header .m-h-left {
    display: flex;
    align-items: center;
    gap: 20px;

}

.main-header .m-h-left .cart-btn-header a {
    background-color: var(--green-color);
    color: var(--white_color);
    text-decoration: none;
    padding: 14px;
    border-radius: 7px;
    display: flex;
}

.main-header .m-h-left .cart-btn-header a .cart-btn-text {
    font-weight: 450;
    border-left: 1px solid var(--white_color);
    padding-left: 15px;
    margin-left: 15px;
}

.m-h-left .favorite-btn-header a {
    color: var(--text-color);
    text-decoration: none;
    padding: 13px;
    border-radius: 7px;
    display: flex;
    border: 1PX solid #7e7e7e;
}

.m-h-left .favorite-btn-header a i {
    font-size: 20px;
    margin-left: 8px;
}

.down-header {
    display: flex;
    justify-content: space-between;
    padding: 14px 0;
    margin-top: 8px;
}

.main-menu {
    display: flex;
}

.main-menu .megamenu-box {
    border-left: 1px dotted #333;
    padding-left: 20px;
    margin-left: 9px;
}

.megamenu-box .t-m {
    color: #161A1D;
    font-weight: 450;
}

.main-menu .menu-header>ul>li {
    display: inline-block;
    margin: 0 11px;
    position: relative;
}

.main-menu .menu-header ul li a {
    text-decoration: none;
    color: #7e7e7e;
    font-weight: 350;
    padding: 14px 0;
}

.main-menu .menu-header>ul>li>a:hover {
    border-bottom: 1px solid var(--red-color);
}

.main-menu .menu-header ul li ul {
    position: absolute;
    top: 25px;
    right: 0;
    background-color: var(--white_color);
    border: 1px solid var(--border-color);
    padding: 7px 0;
    width: 200px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    z-index: 99;
}

.main-menu .menu-header>ul>li:hover>ul {
    visibility: visible;
    opacity: 1;
    top: 37px;
}

.main-menu .menu-header ul li ul li a {
    padding: 7px 14px;
    display: block;
    font-size: 13px;

}

.main-menu .menu-header ul li ul li a:hover {
    color: var(--red-color);
    font-weight: 450;
}

.register-btn {
    color: #161A1DE7;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.register-btn i {
    font-size: 20px;
}

.hm-mega-menu {
    position: relative;
}

.hm-mega-menu>ul::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 24px;
    top: -20px;
}

.hm-mega-menu>ul {
    position: absolute;
    background-color: var(--white_color);
    border: 1px solid var(--border-color);
    top: 25px;
    right: 0;
    width: 222px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    z-index: 99;
}

.main-menu .megamenu-box:hover>.hm-mega-menu>ul {
    visibility: visible;
    opacity: 1;
    top: 16px;
}

.hm-mega-menu>ul>li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hm-mega-menu>ul>li:hover {
    background-color: #f7f7f8;
}

.hm-mega-menu>ul>li:hover>a,
.hm-mega-menu>ul>li:hover>i {
    color: var(--red-color)
}

.hm-mega-menu>ul>li>a {
    padding: 12px;
    font-weight: 500;
}

.hm-mega-menu>ul>li>i {
    margin-left: 12px;
    font-size: 9px;
}

.hm-mega-menu>ul>li:hover>ul {
    visibility: visible;
    opacity: 1;
}

.hm-mega-menu>ul>li>ul {
    position: absolute;
    background-color: var(--white_color);
    border: 1px solid var(--border-color);
    top: 0;
    right: 100%;
    width: 1215px;
    height: 100%;
    display: flex;
    padding: 12px;
    border-right: 2px solid var(--border-color);
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.hm-mega-menu>ul>li>ul>li {
    width: 25%;
}

.hm-mega-menu>ul>li>ul>li>a {
    font-weight: 550;
    color: var(--black-color);
    border-right: 3px solid var(--red-color);
    padding-right: 5px;
    margin-bottom: 7px;
    display: inline-block;
}

.hm-mega-menu>ul>li>ul>li>ul li a {
    color: #666;
    font-size: 12px;
    font-weight: 400;
    padding: 4px 0;
    display: block;
}

.hm-mega-menu>ul>li>ul>li>ul li a:hover {
    color: var(--red-color);
    font-weight: 450;
}

/* slider style */
.main-slider .owl-stage-outer {
    border-radius: 15px;
}

.main-slider .owl-theme .owl-dots {
    position: absolute;
    bottom: 0;

}

.main-slider .owl-theme .owl-dots {
    width: 100%;
}

.main-slider .owl-theme .owl-dots button.owl-dot span {
    background-color: var(--black-color);
    opacity: 0.3;
    width: 7px;
    height: 7px;
    margin: 2px 3px;
}

.main-slider .owl-theme .owl-dots button.active span {
    background-color: var(--white_color);
    opacity: 1;
    width: 18px;
}

.main-slider .owl-carousel .owl-nav button {
    position: absolute;
    bottom: 35px;
    right: 80px;
    background-color: var(--white_color);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.main-slider:hover .owl-carousel .owl-nav button {
    opacity: 1;
}

.main-slider .owl-carousel .owl-nav button:hover {
    background-color: var(--white_color);
    color: var(--black-color);
}

.main-slider .owl-carousel .owl-nav button.owl-prev {
    right: 35px;
}

.main-slider .owl-carousel .owl-nav button.owl-next {
    right: 80px;
}