* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'arad';
    src: url('./assets/fonts/arad.woff2') format('woff2');
    font-weight: 100 900;
    font-display: swap;
}

:root {
    --red-color: #f93423;
    --text-color: #303030;
    --white_color: #fff;
    --font-family: 'arad';
    --green-color: #1BD2A3;
}

body {
    direction: rtl;
    font-size: 14px;
    text-align: right;
    color: var(--text-color);
    font-family: var(--font-family);
    font-weight: 400;
}

a {
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    color: var(--text-color);
}

li {
    list-style: none;
}

.container {
    width: 1440px;
    margin: auto;
}

.header {
    background-color: var(--white_color);
    box-shadow: 0px 4px 10px 0px #0000000d;
    margin-bottom: 20px;
}

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 0;
    color: #7e7e7e;
    font-size: 13px;
    font-weight: 350;
}

.top-header .t-h-left .contact-header {
    color: var(--red-color);
    padding-right: 20px;
    font-weight: 450;
}

.top-header .t-h-left .contact-header i {
    font-size: 18px;
    padding-right: 6px;
}

.main-header {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.main-header .m-h-right {
    display: flex;
    width: 57%;
    align-items: center;
}

.main-header .m-h-right .logo {
    max-width: 130px;
}

.main-header .m-h-right .logo a {
    display: flex;
}

.main-header .m-h-right .logo a img {
    max-width: 100%;
}

.main-header .m-h-right .search-main {
    width: 100%;
    margin-right: 71px;
}

.main-header .m-h-right .search-main form {
    position: relative;
    border: none;
}

.main-header .m-h-right .search-main form input[type="search"] {
    background-color: #f3f4f6;
    border-radius: 7px;
    font-family: var(--font-family);
    font-size: 13px;
    padding: 15px 50px 15px 15px;
    width: 100%;
    border: none;
}

.main-header .m-h-right .search-main form button {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 20px;
    background-color: transparent;
    color: #a0a0a0;
    border: none;
    cursor: pointer;
}

.main-header .m-h-left {
    display: flex;
    align-items: center;
    gap: 20px;

}

.main-header .m-h-left .cart-btn-header a {
    background-color: var(--green-color);
    color: var(--white_color);
    text-decoration: none;
    padding: 14px;
    border-radius: 7px;
    display: flex;
}

.main-header .m-h-left .cart-btn-header a .cart-btn-text {
    font-weight: 450;
    border-left: 1px solid #fff;
    padding-left: 15px;
    margin-left: 15px;
}

.m-h-left .favorite-btn-header a {
    color: var(--text-color);
    text-decoration: none;
    padding: 13px;
    border-radius: 7px;
    display: flex;
    border: 1PX solid #7e7e7e;
}

.m-h-left .favorite-btn-header a i {
    font-size: 20px;
    margin-left: 8px;
}

.down-header {
    display: flex;
    justify-content: space-between;
    padding: 14px 0;
    margin-top: 8px;
}

.main-menu {
    display: flex;
}

.main-menu .megamenu-box {
    border-left: 1px dotted #333;
    padding-left: 20px;
    margin-left: 9px;
}

.megamenu-box .t-m {
    color: #161A1D;
    font-weight: 450;
}

.main-menu .menu-header ul li {
    display: inline-block;
    margin: 0 11px;
}

.main-menu .menu-header ul li a {
    text-decoration: none;
    color: #7e7e7e;
    font-weight: 350;
    padding: 14px 0;
}

.main-menu .menu-header ul li a:hover {
    border-bottom: 1px solid var(--red-color);
}

.register-btn {
    color: #161A1DE7;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.register-btn i {
    font-size: 20px;
}